<%- include('../../partials/header'); %>

<div class="col-lg-10 col-md-9">

    <div class="panel panel-default">
        <div class="panel-body">
            <h2><%= user.name %></h2>
            <%= user.email %>
            <%= user.roomNumber %>
        </div>
    </div>

</div>
<%- include('../../partials/footer'); %>
