<%- include('../partials/header'); %>

<!-- BODY HERE -->

          <div class="col-lg-10 col-md-9">


            <div class="panel panel-default">
              <div class="panel-body">
                    <div class="pull-left"><h2>Tanuló csoportok</h2></div>
                    <div class="pull-right">
                      <div class="btn-group">
                        <button type="button" class="btn btn-success btn-filter" data-target="pagado">Jövőbeli</button>
                        <button type="button" class="btn btn-warning btn-filter" data-target="pendiente">Megkezdett</button>
                        <button type="button" class="btn btn-danger btn-filter" data-target="cancelado">Befejezett</button>
                        <button type="button" class="btn btn-default btn-filter" data-target="all">Mind</button>
                      </div>
                    </div>

                <form class="" action="csoport/join" method="post">
                <div class="table-container">

                  <table class="table table-filter">
                    <tbody>
                      <% groups.forEach(function(group) { %>
                      <tr data-status="pagado">
                        <td>
                          <div class="ckbox">
                            <input type="radio" name="csopi" id="checkbox<%= group.id %>">
                            <label for="checkbox<%= group.id %>"></label>
                          </div>
                        </td>
                        <td>
                          <div class="media">
                            <a href="/csoport/nezet/<%= group.id %>" class="pull-left">
                              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                            </a>
                            <div class="media-body">
                              <span class="media-meta pull-right"><%= group.start_date %> - <%= group.end_date %></span>
                              <h4 class="title">
                                <%= group.subject_name %> -
                                <%= group.name %>
                                <span class="pull-right pagado">(Jövőbeli)</span>
                              </h4>
                              <p class="summary"><%= group.description %></p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% }); %>



                    </tbody>
                  </table>
                </div>
                <div class="pull-left">
                  <button type="submit" class="btn btn-primary">Csatlakozok a csoporthoz</a>
                </div>

                </form>
                <div class="pull-right">
                    <a href="csoport/uj" class="btn btn-success">Új csopot létrehozása</a>
                  </div>
              </div>
            </div>
          </div>

    <!-- BODY END -->
<%- include('../partials/footer'); %>
